{% extends 'base.html' %}

{% block content %}
<div class="login-area">
    <div class="Card login-card">

        {% if message %}
            <div class="alert-warning">{{ message }}</div>
        {% endif %}

        <h3>LOGIN</h3>
        <div>
            <form method="post" class="input-area">

                {% csrf_token %}
                <h5>{{ login_form.username.label_tag }}</h5>
                <div class="name-input">{{ login_form.username }}</div>
                <h5>{{ login_form.password.label_tag }}</h5>
                <div class="pwd-input">{{ login_form.password }}</div>
                <a href="{% url 'register' %}" style="font-size: 15px;">Do not have an account? Register now!<br/></a>
                <button type="submit" class="login-button">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}