* {
  box-sizing: border-box;
  margin: 0px 0px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #f5f5f5;
}

/*headers*/
.Header {
  height: 60px;
}
header {
  float: left;
  width: 90%;
  color: rgba(255, 122, 0, 1);
  padding: 9px 30px;
  font-family: Oxanium;
  font-weight: Bolder;
  font-size: 36px;
}
#bell-icon,
#cog-icon,
#user-icon {
  float: left;
  width: 5%;
  padding: 20px 0;
  font-size: 20px;
}

.root {
  background: rgba(255, 255, 255, 1);
  font-family: Montserrat;
}

/*Navigation Bar*/
.NavigateBar {
  background-color: rgba(214, 209, 205, 0.384);
  height: 45px;
  width: 100%;
  float: left;
}
.linkName {
  line-height: 42px;
  width: 12px;
  margin-left: 20px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
}

/*-----------------------------------DashBoard ----------------------------------*/
/* cards area split and text css*/
.TopCards {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 350px;
}
.BottomCards {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 600px;
}
.ClassTitle {
  margin: 1%;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 3px 2px 3px;
}
.SubTitle {
  margin: 5%;
  font-size: 15px;
  color: rgb(100, 82, 67);
  margin: 3px 3px 0.5px 3px;
}

/*Create New Card*/
*.Card {
  float: left;
  width: 24%;
  margin: 0 0.5%;
  height: 280px;
  position: relative;
  border: 1px solid rgba(128, 96, 71, 0.863);
  box-shadow: 3px 2px 2px 2px rgba(128, 96, 71, 0.459);
  border-radius: 3%;
  overflow: auto;
}
/* Upcoming Task*/
.RecentTask {
  margin: 10px auto;
  width: 90%;
  height: 50px;
}
hr {
  margin: 5px auto 5px auto;
  width: 93%;
}
.progress-graph {
  height: 220px;
  width: 90%;
  margin: auto;
}

/*Delay Alert*/
.Alert {
  text-align: center;
}
.DateNum {
  margin: 5%;
  font-size: 110px;
  color: rgb(99, 83, 70);
  margin: 20px 3px 0.5px 3px;
}
.Alert_info {
  margin: 5%;
  font-size: 20px;
  color: rgb(146, 99, 61);
  margin: 15px 3px 0.5px 3px;
}

/*Index Revenue*/
.IndexRevenue {
  float: left;
  width: 58%;
  margin: 0 0.5%;
  height: 580px;
  border: 1px solid rgba(128, 96, 71, 0.863);
  box-shadow: 3px 2px 2px 2px rgba(128, 96, 71, 0.459);
  border-radius: 3%;
}
.Revenue {
  margin: 0px auto;
  width: 100%;
  height: 480px;
  overflow: auto;
}
.sp500-plot {
  height: 480px;
  width: 100%;
  overflow: auto;
}
.Indexinfo {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 60px;
  top: 230px;
}
.LastPrice {
  text-align: center;
  text-decoration: underline;
  margin-top: -5px;
}

/*Recent dNews*/
.RecentNews {
  float: left;
  width: 40%;
  margin: 0 0.5%;
  height: 580px;
  position: relative;
  border: 1px solid rgba(128, 96, 71, 0.863);
  box-shadow: 3px 2px 2px 2px rgba(128, 96, 71, 0.459);
  border-radius: 3%;
}
.News {
  margin: 10px auto;
  width: 90%;
  height: 150px;
  overflow: auto;
}
.NewsContent {
  margin-top: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

/*-----Task form-----*/
.form-dashboard {
  margin: 2% 2% 1% 2%;
  position: relative;
}

.form-dashboard input,
.form-dashboard select,
.form-dashboard textarea {
  border-radius: 5px;
  border: 1px solid rgba(128, 96, 71, 0.863);
  outline: none;
  background: none;
  padding: 5px;
  width: 93%;
  height: 35px;
  margin: 1% 3% 1% 3%;
}
.InputButton {
  background-color: rgba(214, 209, 205, 0.384);
  border-style: ridge;
  width: 100%;
  border-color: rgba(214, 209, 205, 0.438);
  margin-top: 5%;
}
