* {
  box-sizing: border-box;
  margin: 0px 0px;
}

/*headers*/
.Header {
  height: 60px;
}
header {
  float: left;
  width: 90%;
  color: rgba(255, 122, 0, 1);
  padding: 9px 30px;
  font-family: Oxanium;
  font-weight: Bolder;
  font-size: 36px;
}
#bell-icon,
#cog-icon,
#user-icon {
  float: left;
  width: 5%;
  padding: 20px 0;
  font-size: 20px;
}

.root {
  background: rgba(255, 255, 255, 1);
  font-family: Montserrat;
}

/*Navigation Bar*/
.NavigateBar {
  background-color: rgba(214, 209, 205, 0.384);
  height: 45px;
  width: 100%;
  float: left;
}
.linkName {
  line-height: 42px;
  width: 12px;
  margin-left: 20px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
}

/*-----------------------------------DashBoard ----------------------------------*/
/* cards area split and text css*/
.TopCards {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 350px;
}
.BottomCards {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 380px;
}
.ClassTitle {
  margin: 1%;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 3px 2px 3px;
}
.SubTitle {
  margin: 5%;
  font-size: 12px;
  color: rgb(100, 82, 67);
  margin: 3px 3px 0.5px 3px;
}

/*Create New Card*/
*.Card {
  float: left;
  width: 24%;
  margin: 0 0.5%;
  height: 280px;
  position: relative;
  border: 1px solid rgba(128, 96, 71, 0.863);
  box-shadow: 3px 2px 2px 2px rgba(128, 96, 71, 0.459);
  border-radius: 3%;
}
/* Upcoming Task*/
.RecentTask {
  margin: 10px auto;
  width: 90%;
  height: 50px;
}
hr {
  margin: auto;
  width: 93%;
}
/* New Task*/
.InputTitle {
  height: 20px;
  width: 93%;
  position: relative;
  border-style: ridge;
  margin: 1% 2% 1% 2%;
}
.InputDescrip {
  height: 70px;
  width: 93%;
  position: relative;
  border-style: ridge;
  margin: 1% 2% 1% 2%;
}
.InputDue {
  height: 20px;
  width: 93%;
  position: relative;
  border-style: ridge;
  margin: 1% 2% 5% 2%;
}
.InputButtonDiv {
  text-align: center;
  width: 93%;
  position: relative;
  margin: auto 2% auto 2%;
}
.InputButton {
  background-color: rgba(214, 209, 205, 0.384);
  border-style: ridge;
  width: 100%;
  border-color: rgba(214, 209, 205, 0.438);
}
/*Small Calendar*/
.SmallCalendar {
  margin-left: 5px;
  margin-top: 10px;
}
.SmallCalendar tr,
.SmallCalendar td {
  border: 0px solid black;
}
.SmallCalendar th {
  padding: 6px;
  text-align: center;
  font-size: 20px;
  background-color: gainsboro;
}
.SmallCalendar td {
  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 123, 0, 0.363);
  border-radius: 50%;
}

/*Index Revenue*/
.IndexRevenue {
  float: left;
  width: 58%;
  margin: 0 0.5%;
  height: 370px;
  border: 1px solid rgba(128, 96, 71, 0.863);
  box-shadow: 3px 2px 2px 2px rgba(128, 96, 71, 0.459);
  border-radius: 3%;
}
.Revenue {
  margin: 10px auto;
  width: 95%;
  height: 230px;
}
.Indexinfo {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 60px;
  top: 230px;
}
.LastPrice {
  text-align: center;
  text-decoration: underline;
}

/*Recent dNews*/
.RecentNews {
  float: left;
  width: 40%;
  margin: 0 0.5%;
  height: 370px;
  position: relative;
  border: 1px solid rgba(128, 96, 71, 0.863);
  box-shadow: 3px 2px 2px 2px rgba(128, 96, 71, 0.459);
  border-radius: 3%;
}
.News {
  margin: 10px auto;
  width: 90%;
  height: 80px;
  overflow: auto;
}
.NewsContent {
  margin-top: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

/*-----------------------------------Info----------------------------------*/
.Infos {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
/*all news*/
.allIndexRevenue {
  margin: 0 0.5%;
  width: 60%;
  height: 1000px;
  position: relative;
  border: 1px solid rgba(128, 96, 71, 0.863);
  box-shadow: 3px 2px 2px 2px rgba(128, 96, 71, 0.459);
  float: left;
  border-radius: 1.5%;
}
.Security {
  margin: 10px auto;
  width: 95%;
  height: 280px;
}
.Newslist {
  margin: 0 0.5%;
  width: 38%;
  height: 100%;
  position: relative;
  border: 1px solid rgba(128, 96, 71, 0.863);
  box-shadow: 3px 2px 2px 2px rgba(128, 96, 71, 0.459);
  float: left;
  border-radius: 1.5%;
}
.FullNews {
  margin: 10px auto;
  width: 95%;
  height: 124px;
  overflow: auto;
}
.NewsTitle {
  margin: 1%;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  margin: 5px 3px 2px 3px;
}
.NewsContent {
  margin-top: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
