<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <meta name="Dashboard" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Font icons -->
    <script src="https://kit.fontawesome.com/52c856263e.js" crossorigin="anonymous"></script>
    
    <title>FinMaster Dashboard</title>
</head>

<body>
    <div class="Header">
        <header>FinMaster</header>
        <i class="far fa-bell" id="bell-icon"></i>
        <i class="fas fa-cog" id="cog-icon"></i>
        <i class="fas fa-user-circle" id="user-icon"></i>
    </div>
    <div class="root">
        <div class="NavigateBar">
            <a href="/" class="linkName">Dashboard</a>
            <a href="{% url 'calendar' %}" class="linkName"><strong>Calendar</strong></a>
            <a href="{% url 'info' %}" class="linkName">Financial Information</a>
        </div>

        <div class="calendar-container">
            <div class="calendar-sidebar">
                <div class="calendar-sidebar-date">
                    <span class="sidebar-month">{{this_month}}</span>
                    <span class="sidebar-year">{{this_year}}</span>
                </div>
                <div class="sidebar-small-calendar">
                    <div class="small-calendar-header">
                        <div class="name">SUN</div>
                        <div class="name">MON</div>
                        <div class="name">TUE</div>
                        <div class="name">WED</div>
                        <div class="name">THU</div>
                        <div class="name">FRI</div>
                        <div class="name">SAT</div>
                    </div>
                    <div class="small-calendar-line small-line1">
                        <div class="small-calendar-single small-1">
                            <span class="small-calendar-date grey-dates">27</span>
                        </div>
                        <div class="small-calendar-single small-2">
                            <span class="small-calendar-date grey-dates">28</span>
                        </div>
                        <div class="small-calendar-single small-3">
                            <span class="small-calendar-date grey-dates">29</span>
                        </div>
                        <div class="small-calendar-single small-4">
                            <span class="small-calendar-date grey-dates">30</span>
                        </div>
                        <div class="small-calendar-single small-5">
                            <span class="small-calendar-date white-dates">1</span>
                        </div>
                        <div class="small-calendar-single small-6">
                            <span class="small-calendar-date white-dates">2</span>
                        </div>
                        <div class="small-calendar-single small-7">
                            <span class="small-calendar-date white-dates">3</span>
                        </div>
                    </div>
                    <div class="small-calendar-line small-line2">
                        <div class="small-calendar-single small-1">
                            <span class="small-calendar-date white-dates">4</span>
                        </div>
                        <div class="small-calendar-single small-2">
                            <span class="small-calendar-date white-dates">5</span>
                        </div>
                        <div class="small-calendar-single small-3">
                            <span class="small-calendar-date white-dates">6</span>
                        </div>
                        <div class="small-calendar-single small-4">
                            <span class="small-calendar-date white-dates">7</span>
                        </div>
                        <div class="small-calendar-single small-5">
                            <span class="small-calendar-date white-dates">8</span>
                        </div>
                        <div class="small-calendar-single small-6">
                            <span class="small-calendar-date white-dates">9</span>
                        </div>
                        <div class="small-calendar-single small-7">
                            <span class="small-calendar-date white-dates">10</span>
                        </div>
                    </div>
                    <div class="small-calendar-line small-line3">
                        <div class="small-calendar-single small-1">
                            <span class="small-calendar-date white-dates">11</span>
                        </div>
                        <div class="small-calendar-single small-2">
                            <span class="small-calendar-date white-dates">12</span>
                        </div>
                        <div class="small-calendar-single small-3">
                            <span class="small-calendar-date white-dates">13</span>
                        </div>
                        <div class="small-calendar-single small-4">
                            <span class="small-calendar-date white-dates">14</span>
                        </div>
                        <div class="small-calendar-single small-5">
                            <span class="small-calendar-date white-dates">15</span>
                        </div>
                        <div class="small-calendar-single small-6">
                            <span class="small-calendar-date white-dates">16</span>
                        </div>
                        <div class="small-calendar-single small-7">
                            <span class="small-calendar-date white-dates">17</span>
                        </div>
                    </div>
                    <div class="small-calendar-line small-line4">
                        <div class="small-calendar-single small-1">
                            <span class="small-calendar-date white-dates">18</span>
                        </div>
                        <div class="small-calendar-single small-2">
                            <span class="small-calendar-date white-dates">19</span>
                        </div>
                        <div class="small-calendar-single small-3">
                            <span class="small-calendar-date white-dates">20</span>
                        </div>
                        <div class="small-calendar-single small-4">
                            <span class="small-calendar-date white-dates">21</span>
                        </div>
                        <div class="small-calendar-single small-5">
                            <span class="small-calendar-date white-dates">22</span>
                        </div>
                        <div class="small-calendar-single small-6">
                            <span class="small-calendar-date white-dates">23</span>
                        </div>
                        <div class="small-calendar-single small-7">
                            <span class="small-calendar-date white-dates">24</span>
                        </div>
                    </div>
                    <div class="small-calendar-line small-line5">
                        <div class="small-calendar-single small-1">
                            <span class="small-calendar-date white-dates">25</span>
                        </div>
                        <div class="small-calendar-single small-2">
                            <span class="small-calendar-date white-dates">26</span>
                        </div>
                        <div class="small-calendar-single small-3">
                            <span class="small-calendar-date white-dates">27</span>
                        </div>
                        <div class="small-calendar-single small-4">
                            <span class="small-calendar-date white-dates">28</span>
                        </div>
                        <div class="small-calendar-single small-5">
                            <span class="small-calendar-date white-dates">29</span>
                        </div>
                        <div class="small-calendar-single small-6">
                            <span class="small-calendar-date white-dates">30</span>
                        </div>
                        <div class="small-calendar-single small-7">
                            <span class="small-calendar-date white-dates">31</span>
                        </div>
                    </div>
                    <div class="small-calendar-line small-line6">
                        <div class="small-calendar-single small-1">
                            <span class="small-calendar-date grey-dates">1</span>
                        </div>
                        <div class="small-calendar-single small-2">
                            <span class="small-calendar-date grey-dates">2</span>
                        </div>
                        <div class="small-calendar-single small-3">
                            <span class="small-calendar-date grey-dates">3</span>
                        </div>
                        <div class="small-calendar-single small-4">
                            <span class="small-calendar-date grey-dates">4</span>
                        </div>
                        <div class="small-calendar-single small-5">
                            <span class="small-calendar-date grey-dates">5</span>
                        </div>
                        <div class="small-calendar-single small-6">
                            <span class="small-calendar-date grey-dates">6</span>
                        </div>
                        <div class="small-calendar-single small-7">
                            <span class="small-calendar-date grey-dates">7</span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-daily">
                    <div class="sidebar-daily-contents">
                        <div class="sidebar-daily-today">
                            <span class="sidebar-daily-date">TODAY</span>
                            <span class="sidebar-daily-day">09/10/2021</span>
                        </div>
                        <div class="sidebar-event">
                            <div class="sidebar-event-time">
                                <div class="sidebar-event-dot"></div>
                                <div class="sidebar-event-period">
                                    <span class="sidebar-event-start">8:30 AM - 9:30 PM</span>
                                </div>
                            </div>
                            <div class="sidebar-event-content-block">
                                <span class="sidebar-event-content">Monthly catch-up</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="calendar-main">
                <div class="calendar-main-nav"></div>
                <div class="calendar-main-container">
                    <div class="calendar-main-header">
                        <div class="calendar-main-header-content">
                            <div class="main-name">SUN</div>
                            <div class="main-name">MON</div>
                            <div class="main-name">TUE</div>
                            <div class="main-name">WED</div>
                            <div class="main-name">THU</div>
                            <div class="main-name">FRI</div>
                            <div class="main-name">SAT</div>
                        </div>
                    </div>
                    <div class="calendar-main-line">
                        <div class="calendar-main-line-content">
                            <div class="main-name">27</div>
                            <div class="main-name">28</div>
                            <div class="main-name">29</div>
                            <div class="main-name">30</div>
                            <div class="main-name">1</div>
                            <div class="main-name">2</div>
                            <div class="main-name">3</div>
                        </div>
                    </div>
                    <div class="calendar-main-line">
                        <div class="calendar-main-line-content">
                            <div class="main-name">4</div>
                            <div class="main-name">5</div>
                            <div class="main-name">6</div>
                            <div class="main-name">7</div>
                            <div class="main-name">8</div>
                            <div class="main-name">9</div>
                            <div class="main-name">10</div>
                        </div>
                    </div>
                    <div class="calendar-main-line">
                        <div class="calendar-main-line-content">
                            <div class="main-name">11</div>
                            <div class="main-name">12</div>
                            <div class="main-name">13</div>
                            <div class="main-name">14</div>
                            <div class="main-name">15</div>
                            <div class="main-name">16</div>
                            <div class="main-name">17</div>
                        </div>
                    </div>
                    <div class="calendar-main-line">
                        <div class="calendar-main-line-content">
                            <div class="main-name">18</div>
                            <div class="main-name">19</div>
                            <div class="main-name">20</div>
                            <div class="main-name">21</div>
                            <div class="main-name">22</div>
                            <div class="main-name">23</div>
                            <div class="main-name">24</div>
                        </div>
                    </div>
                    <div class="calendar-main-line">
                        <div class="calendar-main-line-content">
                            <div class="main-name">25</div>
                            <div class="main-name">26</div>
                            <div class="main-name">27</div>
                            <div class="main-name">28</div>
                            <div class="main-name">29</div>
                            <div class="main-name">30</div>
                            <div class="main-name">31</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>