<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <meta name="Dashboard" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/info.css' %}">

    <!-- Echarts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>

    <!-- Font icons -->
    <script src="https://kit.fontawesome.com/52c856263e.js" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

    <!-- Bootstrap CDN -->
    <!-- Latest Bootstrap core CSS files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Latest Bootstrap core JavaScript files -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!-- bokeh plot -->
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.1.min.js"></script>

    <title>FinMaster Dashboard</title>
</head>
<body>
    <div class="Header">
        <header>FinMaster</header>
        <a href="{% url 'settings' %}"><i class="fas fa-cog" id="cog-icon"></i></a>
        <a href="{% url 'login' %}"><i class="fas fa-user-circle" id="user-icon"></i></a>
    </div>

    <div class='root'>
        <!--Navigate Bar-->
        <div class='NavigateBar'>
            <a href="/" class="linkName"><strong>Dashboard</strong></a>
            <a href="{% url 'calendar' %}" class="linkName">Calendar</a>
            <a href="{% url 'info' %}" class="linkName">Financial Information</a>
        </div>
        <div class="TopCards">
            <!--Weekly Progress-->
            <div class='Card'>
                <p class='ClassTitle'>Weekly Progress</p>
                <p class='SubTitle'>{{start_time}}</p>
                <div id="pieChart" class="progress-graph"></div>
            </div>
            <!--Upcoming Tasks-->            
            <div class='Card'>
                <p class='ClassTitle'>Upcoming Tasks</p>
                <div class='RecentTask'>
                    <p>Task: {{ title1 }}</p>
                    <p>Due: {{ due1 }}</p>
                </div>
                <hr/>
                <div class='RecentTask'>
                    <p>Task: {{ title2 }}</p>
                    <p>Due: {{ due2 }}</p>
                </div>
                <hr/>
                <div class='RecentTask'>
                    <p>Task: {{ title3 }}</p>
                    <p>Due: {{ due3 }}</p>
                </div>
            </div>
            <!--Issue Creating-->                        
            <div class='Card'>
                <p class='ClassTitle'>Create A New Task</p>
                <p class='SubTitle'>Input to create a task:</p>
                <form method="post">
                    {% csrf_token %}
                    <table class="form form-table form-dashboard">
                    {{ form }}
                    <tr><td colspan="2"><button type="submit" class="InputButton">Submit</button></td></tr>
                    </table>
                </form>
            </div>
            <!--Delay Alert-->                        
            <div class='Card'>
                <a class='ClassTitle' href="{% url 'calendar' %}">{{month}}</a>
                <div class='Alert'>
                    <P class='DateNum'>{{ today }}</P>
                    <P class='Alert_info'>{{ delaynum }}</P>
                </div>
            </div>
        </div>
        <div class="BottomCards">
            <!--Index Revenue-->
            <div class='IndexRevenue'>
                <p class='ClassTitle'>S&P500 Daily Quotes</p>
                <div class='Revenue'>
                    <!--Historical price plot-->
                    <div id="sp500_plot" class="sp500-plot"></div>
                </div>
                <div class='Indexinfo'>
                    <h4>Last price: </h4>
                    <h4 class="LastPrice">Last high: {{last_high}} &nbsp &nbsp &nbsp &nbsp Last close: {{last_close}}</h4>
                </div>
            </div>
            <!--recent News-->            
            <div class='RecentNews'>
                <a href="{% url 'info' %}"><p class='ClassTitle'>Recent News</p></a>
                <div class='News'>
                    <a class='NewsTitle' href="{{ news_url_1 }}">{{news_title_1}}</a>
                    <p class='NewsContent'>{{news_content_1}}</p>
                </div>
                <hr/>
                <div class='News'>
                    <a class='NewsTitle' href="{{ news_url_2 }}">{{news_title_2}}</a>
                    <p class='NewsContent'>{{news_content_2}}</p>
                </div>
                <hr/>
                <div class='News'>
                    <a class='NewsTitle' href="{{ news_url_3 }}">{{news_title_3}}</a>
                    <p class='NewsContent'>{{news_content_3}}</p>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(function() {
        var pieChart=echarts.init(document.getElementById('pieChart'));
        option={
            series: [
                {
                    type: 'pie',
                    radius: ['60%', '90%'],
                    avoidLabelOverlap: false,
                    stillShowZeroSum: false,
                    label: {
                        show: false,
                        position: 'center',
                        emphasis: {
                        show: true
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    emphasis: {
                        label: {
                        show: true,
                        fontSize: '45',
                        fontWeight: 'bold'
                        }
                    },
                    data: [
                        {value:{{unfinished}}, name: 'Unfinished tasks'},
                        {value:{{finished}}, name: 'Finished tasks'}
                    ],
                }
            ]
        };

        pieChart.setOption(option);
    });

    $(function() {
        const upColor = '#ec0000';
        const upBorderColor = '#8A0000';
        const downColor = '#00da3c';
        const downBorderColor = '#008F28';

        const categoryData = {{categoryData|safe}};
        const values = splitData({{values}});

        function splitData(rawData) {
            const values = [];
            for(var i=0;i<rawData.length;i+=5){
                const tmp = [];
                for(var j=0;j<5;j++){
                    tmp.push(rawData[i+j])
                }
                values.push(tmp);
            }
            return values;
        }

        function calculateMA(dayCount) {
            var result = [];
            for (var i = 0, len = values.length; i < len; i++) {
                if (i < dayCount) {
                    result.push('-');
                    continue;
                }
                var sum = 0;
                for (var j = 0; j < dayCount; j++) {
                    sum += +values[i - j][1];
                }
                result.push(sum / dayCount);
            }
            return result;
        }

        var plot=echarts.init(document.getElementById('sp500_plot'));
        option={
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                type: 'cross'
                }
            },
            legend: {
                data: ['Daily K-line', 'MA5', 'MA10', 'MA20']
            },
            grid: {
                left: '7%',
                right: '7%',
                bottom: '15%',
                top: '10%'
            },
            xAxis: {
                type: 'category',
                data: categoryData,
                scale: true,
                boundaryGap: false,
                axisLine: { onZero: false },
                splitLine: { show: false },
                min: 'dataMin',
                max: 'dataMax'
            },
            yAxis: {
                scale: true,
                splitArea: {
                show: true
                }
            },
            dataZoom: [
                {
                    type: 'inside',
                    start: 50,
                    end: 100
                },
                {
                    show: true,
                    type: 'slider',
                    top: '90%',
                    start: 50,
                    end: 100
                }
            ],
            series: [
                {
                    name: 'Daily K-line',
                    type: 'candlestick',
                    data: values,
                    itemStyle: {
                        color: upColor,
                        color0: downColor,
                        borderColor: upBorderColor,
                        borderColor0: downBorderColor
                    },
                    markPoint: {
                        label: {
                            formatter: function (param) {
                                return param != null ? Math.round(param.value) + '' : '';
                            }
                        },
                        data: [
                            {
                                name: 'highest value',
                                type: 'max',
                                valueDim: 'highest'
                            },
                            {
                                name: 'lowest value',
                                type: 'min',
                                valueDim: 'lowest'
                            },
                            {
                                name: 'average value on close',
                                type: 'average',
                                valueDim: 'close'
                            }
                        ],
                        tooltip: {
                            formatter: function (param) {
                                return param.name + '<br>' + (param.data.coord || '');
                            }
                        }
                    },
                    markLine: {
                        symbol: ['none', 'none'],
                        data: [
                            [
                                {
                                    name: 'from lowest to highest',
                                    type: 'min',
                                    valueDim: 'lowest',
                                    symbol: 'circle',
                                    symbolSize: 10,
                                    label: {
                                        show: false
                                    },
                                    emphasis: {
                                        label: {
                                            show: false
                                        }
                                    }
                                },
                                {
                                    type: 'max',
                                    valueDim: 'highest',
                                    symbol: 'circle',
                                    symbolSize: 10,
                                    label: {
                                        show: false
                                    },
                                    emphasis: {
                                        label: {
                                            show: false
                                        }
                                    }
                                }
                            ],
                            {
                                name: 'min line on close',
                                type: 'min',
                                valueDim: 'close'
                            },
                            {
                                name: 'max line on close',
                                type: 'max',
                                valueDim: 'close'
                            }
                        ]
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(5),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA10',
                    type: 'line',
                    data: calculateMA(10),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA20',
                    type: 'line',
                    data: calculateMA(20),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
            ]
        };
        plot.setOption(option);
    });
</script>

</html>