<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <meta name="Dashboard" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/info.css' %}">

    <!-- Echarts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>

    <!-- Font icons -->
    <script src="https://kit.fontawesome.com/52c856263e.js" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

    <!-- Bootstrap CDN -->
    <!-- Latest Bootstrap core CSS files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Latest Bootstrap core JavaScript files -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!-- bokeh plot -->
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.1.min.js"></script>

    <title>FinMaster Dashboard</title>
</head>

<body>
    <div class="Header">
        <header>FinMaster</header>
        <a href="{% url 'settings' %}"><i class="fas fa-cog" id="cog-icon"></i></a>
        <a href="{% url 'login' %}"><i class="fas fa-user-circle" id="user-icon"></i></a>
    </div>
    <div class='root'>
        <!--Navigate Bar-->
        <div class='NavigateBar'>
            <a href="/" class="linkName">Dashboard</a>
            <a href="{% url 'calendar' %}" class="linkName">Calendar</a>
            <a href="{% url 'info' %}" class="linkName"><strong>Financial Information</strong></a>
        </div>

        <div class="Infos">
            <!--Plots-->            
            <div class='allIndexRevenue'>
                <p class='ClassTitle'>Stock Performance</p>
                <div class='Security'>
                    <p class='ClassTitle'>{{settings.symbol1}} {{settings.interval1}}</p>
                    <div id="plot1" class="info-plot"></div>
                </div>
                <hr/>
                <div class='Security'>
                    <p class='ClassTitle'>{{settings.symbol2}}  {{settings.interval2}}</p>
                    <div id="plot2" class="info-plot"></div>
                </div>                
                <hr/>
                <div class='Security'>
                    <p class='ClassTitle'>{{settings.symbol3}}  {{settings.interval3}}</p>
                    <div id="plot3" class="info-plot"></div>
                </div>            
            </div>
            <!--News-->
            <div class='Newslist'>
                <p class='ClassTitle'>Recent News</p>
                <div class='FullNews'>
                    <a class='NewsTitle' href="{{ news_url_1 }}">{{news_title_1}}</a>
                    <p class='NewsContent'>{{news_content_1}}</p>
                </div>
                <hr/>
                <div class='FullNews'>
                    <a class='NewsTitle' href="{{ news_url_2 }}">{{news_title_2}}</a>
                    <p class='NewsContent'>{{news_content_2}}</p>
                </div>
                <hr/>
                <div class='FullNews'>
                    <a class='NewsTitle' href="{{ news_url_3 }}">{{news_title_3}}</a>
                    <p class='NewsContent'>{{news_content_3}}</p>
                </div>
                <hr/>
                <div class='FullNews'>
                    <a class='NewsTitle' href="{{ news_url_4 }}">{{news_title_4}}</a>
                    <p class='NewsContent'>{{news_content_4}}</p>
                </div>
                <hr/>
                <div class='FullNews'>
                    <a class='NewsTitle' href="{{ news_url_5 }}">{{news_title_5}}</a>
                    <p class='NewsContent'>{{news_content_5}}</p>
                </div>
                <hr/>
                <div class='FullNews'>
                    <a class='NewsTitle' href="{{ news_url_6 }}">{{news_title_6}}</a>
                    <p class='NewsContent'>{{news_content_6}}</p>
                </div>
            </div>
        </div>
</body>

<script type="text/javascript">
    $(function() {
        const upColor = '#ec0000';
        const upBorderColor = '#8A0000';
        const downColor = '#00da3c';
        const downBorderColor = '#008F28';

        const categoryData1 = {{categoryData1|safe}};
        const values1 = splitData({{values1}});
        const categoryData2 = {{categoryData2|safe}};
        const values2 = splitData({{values2}});
        const categoryData3 = {{categoryData3|safe}};
        const values3 = splitData({{values3}});

        function splitData(rawData) {
            const values = [];
            for(var i=0;i<rawData.length;i+=5){
                const tmp = [];
                for(var j=0;j<5;j++){
                    tmp.push(rawData[i+j])
                }
                values.push(tmp);
            }
            return values;
        }

        function calculateMA(values, dayCount) {
            var result = [];
            for (var i = 0, len = values.length; i < len; i++) {
                if (i < dayCount) {
                    result.push('-');
                    continue;
                }
                var sum = 0;
                for (var j = 0; j < dayCount; j++) {
                    sum += +values[i - j][1];
                }
                result.push(sum / dayCount);
            }
            return result;
        }

        var plot1=echarts.init(document.getElementById('plot1'));
        var plot2=echarts.init(document.getElementById('plot2'));
        var plot3=echarts.init(document.getElementById('plot3'));

        option1={
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                type: 'cross'
                }
            },
            legend: {
                data: ['Daily K-line', 'MA5', 'MA10', 'MA20']
            },
            grid: {
                left: '5%',
                right: '5%',
                bottom: '17%',
                top: '10%'
            },
            xAxis: {
                type: 'category',
                data: categoryData1,
                scale: true,
                boundaryGap: false,
                axisLine: { onZero: false },
                splitLine: { show: false },
                min: 'dataMin',
                max: 'dataMax'
            },
            yAxis: {
                scale: true,
                splitArea: {
                show: true
                }
            },
            dataZoom: [
                {
                    type: 'inside',
                    start: 50,
                    end: 100
                },
                {
                    show: true,
                    type: 'slider',
                    top: '90%',
                    start: 50,
                    end: 100
                }
            ],
            series: [
                {
                    name: 'Daily K-line',
                    type: 'candlestick',
                    data: values1,
                    itemStyle: {
                        color: upColor,
                        color0: downColor,
                        borderColor: upBorderColor,
                        borderColor0: downBorderColor
                    },
                    markPoint: {
                        label: {
                            formatter: function (param) {
                                return param != null ? Math.round(param.value) + '' : '';
                            }
                        },
                        data: [
                            {
                                name: 'highest value',
                                type: 'max',
                                valueDim: 'highest'
                            },
                            {
                                name: 'lowest value',
                                type: 'min',
                                valueDim: 'lowest'
                            },
                            {
                                name: 'average value on close',
                                type: 'average',
                                valueDim: 'close'
                            }
                        ],
                        tooltip: {
                            formatter: function (param) {
                                return param.name + '<br>' + (param.data.coord || '');
                            }
                        }
                    },
                    markLine: {
                        symbol: ['none', 'none'],
                        data: [
                            [
                                {
                                    name: 'from lowest to highest',
                                    type: 'min',
                                    valueDim: 'lowest',
                                    symbol: 'circle',
                                    symbolSize: 10,
                                    label: {
                                        show: false
                                    },
                                    emphasis: {
                                        label: {
                                            show: false
                                        }
                                    }
                                },
                                {
                                    type: 'max',
                                    valueDim: 'highest',
                                    symbol: 'circle',
                                    symbolSize: 10,
                                    label: {
                                        show: false
                                    },
                                    emphasis: {
                                        label: {
                                            show: false
                                        }
                                    }
                                }
                            ],
                            {
                                name: 'min line on close',
                                type: 'min',
                                valueDim: 'close'
                            },
                            {
                                name: 'max line on close',
                                type: 'max',
                                valueDim: 'close'
                            }
                        ]
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(values1,5),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA10',
                    type: 'line',
                    data: calculateMA(values1,10),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA20',
                    type: 'line',
                    data: calculateMA(values1,20),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
            ]
        };

        option2={
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                type: 'cross'
                }
            },
            legend: {
                data: ['Daily K-line', 'MA5', 'MA10', 'MA20']
            },
            grid: {
                left: '5%',
                right: '5%',
                bottom: '17%',
                top: '10%'
            },
            xAxis: {
                type: 'category',
                data: categoryData2,
                scale: true,
                boundaryGap: false,
                axisLine: { onZero: false },
                splitLine: { show: false },
                min: 'dataMin',
                max: 'dataMax'
            },
            yAxis: {
                scale: true,
                splitArea: {
                show: true
                }
            },
            dataZoom: [
                {
                    type: 'inside',
                    start: 50,
                    end: 100
                },
                {
                    show: true,
                    type: 'slider',
                    top: '90%',
                    start: 50,
                    end: 100
                }
            ],
            series: [
                {
                    name: 'Daily K-line',
                    type: 'candlestick',
                    data: values2,
                    itemStyle: {
                        color: upColor,
                        color0: downColor,
                        borderColor: upBorderColor,
                        borderColor0: downBorderColor
                    },
                    markPoint: {
                        label: {
                            formatter: function (param) {
                                return param != null ? Math.round(param.value) + '' : '';
                            }
                        },
                        data: [
                            {
                                name: 'highest value',
                                type: 'max',
                                valueDim: 'highest'
                            },
                            {
                                name: 'lowest value',
                                type: 'min',
                                valueDim: 'lowest'
                            },
                            {
                                name: 'average value on close',
                                type: 'average',
                                valueDim: 'close'
                            }
                        ],
                        tooltip: {
                            formatter: function (param) {
                                return param.name + '<br>' + (param.data.coord || '');
                            }
                        }
                    },
                    markLine: {
                        symbol: ['none', 'none'],
                        data: [
                            [
                                {
                                    name: 'from lowest to highest',
                                    type: 'min',
                                    valueDim: 'lowest',
                                    symbol: 'circle',
                                    symbolSize: 10,
                                    label: {
                                        show: false
                                    },
                                    emphasis: {
                                        label: {
                                            show: false
                                        }
                                    }
                                },
                                {
                                    type: 'max',
                                    valueDim: 'highest',
                                    symbol: 'circle',
                                    symbolSize: 10,
                                    label: {
                                        show: false
                                    },
                                    emphasis: {
                                        label: {
                                            show: false
                                        }
                                    }
                                }
                            ],
                            {
                                name: 'min line on close',
                                type: 'min',
                                valueDim: 'close'
                            },
                            {
                                name: 'max line on close',
                                type: 'max',
                                valueDim: 'close'
                            }
                        ]
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(values2,5),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA10',
                    type: 'line',
                    data: calculateMA(values2,10),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA20',
                    type: 'line',
                    data: calculateMA(values2,20),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
            ]
        };

        option3={
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                type: 'cross'
                }
            },
            legend: {
                data: ['Daily K-line', 'MA5', 'MA10', 'MA20']
            },
            grid: {
                left: '5%',
                right: '5%',
                bottom: '17%',
                top: '10%'
            },
            xAxis: {
                type: 'category',
                data: categoryData3,
                scale: true,
                boundaryGap: false,
                axisLine: { onZero: false },
                splitLine: { show: false },
                min: 'dataMin',
                max: 'dataMax'
            },
            yAxis: {
                scale: true,
                splitArea: {
                show: true
                }
            },
            dataZoom: [
                {
                    type: 'inside',
                    start: 50,
                    end: 100
                },
                {
                    show: true,
                    type: 'slider',
                    top: '90%',
                    start: 50,
                    end: 100
                }
            ],
            series: [
                {
                    name: 'Daily K-line',
                    type: 'candlestick',
                    data: values3,
                    itemStyle: {
                        color: upColor,
                        color0: downColor,
                        borderColor: upBorderColor,
                        borderColor0: downBorderColor
                    },
                    markPoint: {
                        label: {
                            formatter: function (param) {
                                return param != null ? Math.round(param.value) + '' : '';
                            }
                        },
                        data: [
                            {
                                name: 'highest value',
                                type: 'max',
                                valueDim: 'highest'
                            },
                            {
                                name: 'lowest value',
                                type: 'min',
                                valueDim: 'lowest'
                            },
                            {
                                name: 'average value on close',
                                type: 'average',
                                valueDim: 'close'
                            }
                        ],
                        tooltip: {
                            formatter: function (param) {
                                return param.name + '<br>' + (param.data.coord || '');
                            }
                        }
                    },
                    markLine: {
                        symbol: ['none', 'none'],
                        data: [
                            [
                                {
                                    name: 'from lowest to highest',
                                    type: 'min',
                                    valueDim: 'lowest',
                                    symbol: 'circle',
                                    symbolSize: 10,
                                    label: {
                                        show: false
                                    },
                                    emphasis: {
                                        label: {
                                            show: false
                                        }
                                    }
                                },
                                {
                                    type: 'max',
                                    valueDim: 'highest',
                                    symbol: 'circle',
                                    symbolSize: 10,
                                    label: {
                                        show: false
                                    },
                                    emphasis: {
                                        label: {
                                            show: false
                                        }
                                    }
                                }
                            ],
                            {
                                name: 'min line on close',
                                type: 'min',
                                valueDim: 'close'
                            },
                            {
                                name: 'max line on close',
                                type: 'max',
                                valueDim: 'close'
                            }
                        ]
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(values3,5),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA10',
                    type: 'line',
                    data: calculateMA(values3,10),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
                {
                    name: 'MA20',
                    type: 'line',
                    data: calculateMA(values3,20),
                    smooth: true,
                    lineStyle: {
                        opacity: 0.5
                    }
                },
            ]
        };

        plot1.setOption(option1);
        plot2.setOption(option2);
        plot3.setOption(option3);
    });
</script>

</html>